/* footer */
.page-footer {
    height: 75px;
    background-color: #252525;
    color: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.page-footer > span {
    font-size: 1.8rem;
    font-weight: 200;
}
/* end of footer */
